*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: gray;
    position: relative;
    overflow: hidden;
    transition: all 2s;
    /* background:linear-gradient(45deg,#c5f9d7,#f7d486,#f27a7d); */
}

.card::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: -100%;
    transition: all 1.5s;
    background-color: red;
}

.card::before{
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: -120%;
    right: -100%;
    transition: all 1.5s;
    background-color: yellow;
    transform: rotate(45deg);
    z-index: 10;
}

.card:hover{
    /* transform: rotate(180deg); */
    /* border-radius: 50%; */
}
.card:hover::after{
    top: 0;
    left: 0%;
}

.card:hover::before{
    top: 19%;
    right: 1%;
}
