*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
} */

/* div{
    width: 300px;
    height: 300px;
    border: 2px solid black;
    box-shadow: 10px 10px 10px 10px gray;
} */


.navbar{
    width: 100%;
    height: 78px;
    background-color: red;
}
.logo{
    width: 100px;
    height: 100%;
    background-color: purple;
    display: none;
}
.hero{
    width: 100%;
    height: 89vh;
    background-color: blue;
}
.image{
    width: 300px;
    height: 300px;
    background-color: pink;
    
}

@media screen and (max-width:500px) {
    .navbar{
        background-color: yellow;
    }
    .hero{
        background-color: green;
    }
    .image{
        display: none;
    }
    .logo{
        display: block;
    }
}

@media screen and (min-width:500px) and (max-width:800px) {
    
    .navbar{
        background-color: navy;
    }
    .hero{
        background-color: fuchsia;
    }
}